* {
  margin: 0px;
  box-sizing: border-box;
  padding: 10px;
  font-family: sans-serif;
}
body {
  /* width: 50%;
  height: 50vh; */
  background-color: #2d2828;
  /* display: flex;
  justify-content: center;
  margin: 60px 350px;
  padding: 20px 12px; */
}
.container {
  height: 50vh;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 wheat;
  justify-content: center;
  align-items: stretch;
}
input {
  flex: 1;
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #519341;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #519341;
  color: #fff;
  font-weight: bolder;
}
ul {
  list-style: none;
  padding-left: 0px;
}

li a {
  margin: 5px;
  color: #519341;
}
#delete-btn {
  color: #519341;
  background-color: #fff;
  border: 1px solid #519341;
}
